* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 60vw;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide-wrap {
  top: 0;
  left: 0;
  height: 100%;
  width: 1000000px;
  position: relative;
  display: flex;
}

.slider-item {
  height: 400px;
}

img {
  width: 60vw;
  height: 400px;
  object-fit: cover;
  object-position: center;
}